html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}



.loading {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 40%;
      background-color: rgba(255, 255, 255, 1);
      z-index: 9999;
    }

    .overlayWrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }

    .overlay {
      position: relative;
      width: 40%;
      background-color: rgba(255, 255, 255, 1);
      outline: 2px solid rgba(0, 0, 0, 1.0);
      border: none;
      text-align: left;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-family: 'Roboto', sans-serif;
      color: rgba(0, 0, 0, 1);
      padding: 15px;
    }

    .closeButton {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      background-color: rgba(255, 255, 255, 1);
      color: #ffffff;
      font-size: 18px;
      color: rgba(0, 0, 0, 1);
      border: none;
      outline: 2px solid black;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .closeButton:hover {
      background-color: rgba(225, 225, 225, 1);
    }






#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.menubox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2px;
}

.menubox>* {
  background-color: white;
  outline: 2px solid black;
}

.menubox a {
  text-decoration: none;
  color: black;
}

.menubox a:hover {
  text-decoration: underline;
}

.menubox a:active {
  text-decoration: underline;
}

.menubox-label {
  display: none;
}

.menubox-icon {
  width: 60px;
  min-height: 60px;
  flex: none;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;
  cursor: pointer;
}

.menubox.active .menubox-icon,
.menubox-icon:hover {
  background-color: rgb(225, 225, 225);
}

.menubox-content {
  width: 40%;
  max-height: 100vh;
  padding: 15px;
  overflow-y: hidden;
  transition-property: max-height, padding;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.menubox-content.hidden {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  outline-style: none;
}

.source-box .menubox-content {
  width: auto;
  padding: 0;
}

.source-box .menubox-content .vertical-stack {
  gap: 0;
}

.source-box .menubox-content .horizontal-stack {
  padding: 15px;
}

.menubox .vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menubox .horizontal-stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 15px;
}