html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}



.overlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlayWrapper#welcomeOverlay {
  visibility: hidden;
}

.overlay {
  position: relative;
  width: 40%;
  background-color: rgba(255, 255, 255, 1);
  outline: 2px solid rgba(0, 0, 0, 1.0);
  border: none;
  text-align: left;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 1);
  padding: 15px;
}

ol {
  margin-block-start: 15px;
  margin-block-end: 15px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(255, 255, 255, 1);
  color: #ffffff;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  border: none;
  outline: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: rgba(225, 225, 225, 1);
}



#menu-container {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100%;
  height: 100%;
  overflow-y: scroll;*/
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.menubox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2px;
}

.menubox>* {
  background-color: white;
  outline: 2px solid black;
}

.menubox a {
  text-decoration: none;
  color: black;
}

.menubox a:hover,
.menubox a.active {
  text-decoration: underline;
}

.menubox-label {
  display: none;
}

.menubox-icon {
  width: 60px;
  min-height: 60px;
  flex: none;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;
  cursor: pointer;
}

.menubox.active .menubox-icon,
.menubox-icon:hover {
  background-color: rgb(225, 225, 225);
}

.menubox-content {
  width: 22%;
  max-height: 100vh;
  padding: 8px;
  overflow-y: hidden;
  transition-property: max-height, padding;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}

.menubox p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.menubox-content.hidden {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  outline-style: none;
}

.source-box .menubox-content {
  width: auto;
  padding: 0;
}

.source-box .menubox-content .vertical-stack {
  gap: 0;
}

.vertical-stack canvas {
  /*width: 100% !important;
  height: auto !important;*/
  border-bottom: 2px solid black;
}

.source-box .menubox-content .horizontal-stack {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.menubox .vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menubox .horizontal-stack {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 15px;
}



input[type="color"] {
  margin: 15px 0 0 0;
}

input[type=range].slider {
  width: 70%;
  margin: 15px 8px 15px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  background: #ffffff;
  border: 2px solid #000000;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range].slider::-webkit-slider-thumb {
  margin-top: -10.5px;
  width: 10px;
  height: 25px;
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range].slider::-moz-range-track {
  background: #ffffff;
  border: 2px solid #000000;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range].slider::-moz-range-thumb {
  width: 10px;
  height: 25px;
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8.5px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

input[type=range].slider::-ms-fill-lower {
  background: #ffffff;
  border: 2px solid #000000;
}

input[type=range].slider::-ms-fill-upper {
  background: #ffffff;
  border: 2px solid #000000;
}

input[type=range].slider::-ms-thumb {
  width: 10px;
  height: 25px;
  background: #000000;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffff;
}

@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input:is([type="radio"], [type="checkbox"]) {
  margin-top: 15px;
  margin-right: 8px;
}

